/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


   html {
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #E0BAD7;
    font-family: Verdana;
    background-color: #141115;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    
  }
  
  span {
    text-align: center;
    color: #E0BAD7;
    margin: 0;
  }

  .content {
    max-width: 960px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid #E0BAD7;
    border-radius: 30px;

    /* border-right:2px solid #E0BAD7; */
    /* border-top: 2px solid #E0BAD7; */
    }

  p {
    text-align: center;
  }

  .gifs {
    text-align: center;
  }

  .gifs img {
    margin-left: 20px;
    margin-right: 20px;
  }

  .marquee {
    height: 100px;
    width: 100%;
  
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .marquee div {
    display: block;
    width: 200%;
    height: auto;

  
    position: absolute;
    overflow: hidden;
  
    animation: marquee 10s linear infinite;
  }
  
  .marquee span {
    float: left;
    width: 20%;

    font-size: xx-large;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }